body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#select {
  font-size: 1.5rem;
}

#color {
  width: 100px;
  height: 100px;
  background: black;
}
